.container {
  padding: 0.8rem 1.5rem;
  margin: 0 1rem;
  border-radius: 0.8rem;
  opacity: 1;
  transition: all ease-in-out;
  transition-delay: 0.4;

  text-align: center;
}

.container:hover {
  opacity: 0.8;
  cursor: pointer;
}

.container span {
  text-transform: uppercase;
  font-weight: bold;
}
